addict==2.4.0
ansi2html==1.8.0
attrs==23.1.0
certifi==2023.7.22
chamferdist==1.0.1
charset-normalizer==3.3.1
click==8.1.7
ConfigArgParse==1.7
contourpy==1.1.1
cycler==0.12.1
dash==2.14.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses==0.6
fastjsonschema==2.18.1
Flask==2.2.5
fonttools==4.43.1
fvcore==0.1.5.post20210915
idna==3.4
imageio==2.31.6
importlib-metadata==6.8.0
importlib-resources==6.1.0
iopath==0.1.9
ipywidgets==8.1.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyterlab-widgets==3.0.9
kiwisolver==1.4.5
lazy_loader==0.3
MarkupSafe==2.1.3
matplotlib==3.7.3
mkl-service==2.4.0
nbformat==5.7.0
networkx==3.1
pandas==2.0.3
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
plotly==5.17.0
plyfile==1.0.1
portalocker==1.4.0
pyparsing==3.1.1
pyquaternion==0.9.9
pytorch3d==0.4.0
pytz==2023.3.post1
PyWavelets==1.4.1
referencing==0.30.2
requests==2.31.0
retrying==1.3.4
rpds-py==0.10.6
scikit-image==0.21.0
scikit-learn==1.3.1
scipy==1.10.1
seaborn==0.13.0
tenacity==8.2.3
threadpoolctl==3.2.0
tifffile==2023.7.10
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchvision==0.8.0
tqdm==4.62.1
tzdata==2023.3
urllib3==2.0.7
Werkzeug==2.2.3
widgetsnbextension==4.0.9
zipp==3.17.0
